Django>=5.2,<6.0
psycopg[binary]>=3.2
opentelemetry-distro>=0.50b0
opentelemetry-exporter-otlp>=1.29.0
opentelemetry-instrumentation-django>=0.50b0
opentelemetry-instrumentation-psycopg>=0.50b0
opentelemetry-instrumentation-requests>=0.50b0
opentelemetry-instrumentation-redis>=0.50b0
requests>=2.32
redis>=5.0
JSON-log-formatter==0.5.2
